.projectCard {

  h1,h3,h2 {
    text-align: center;
    color: rgb(95, 95, 171);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 10px;
    }

  .projectHolder {
    border: 1px solid #e1e3ed;
    background: rgb(240, 243, 243);
    width: 300px;
    height: 100px;
    padding: 10px;
    margin: 10px auto;
    margin-top: 25px;
    text-align: center;
    border-radius: 10px; 
      h2 {
          padding: 5px;
          text-align: center;
          padding-left: 25px;
          padding-right: 25px;
          color: rgb(95, 95, 171);
      }
  }
  .projectHolder:hover {
    background-color: rgb(203, 211, 216);
  }

}