.btn {
    display: block;
    width: 100%;
    background: black;
    padding: 10 px;
    margin: 0 auto;
    font-size: 1.8rem;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
  }