.matricesCard {

  h1,h3,h2 {
    text-align: center;
    color: rgb(95, 95, 171);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

    .executions {
      padding-top: 30px;
      text-align: center;
    }

    .matricesList {
      list-style: none;
    }

    .executionsContainer {
      display: inline-block;
      width: 45%; /* Adjust the width as needed */
      vertical-align: top;
      /* Additional styling */
      border: 1px solid #ccc;
      border-radius: 10px; 
      padding: 10px;
      margin-bottom: 10px;
      background: rgb(240, 243, 243);
      color: rgb(95, 95, 171);
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 18px;
    }
    .executionsContainer:hover {
      background-color: rgb(203, 211, 216);
    }

    .initiator{
      padding-right: 50px;
      padding-left: 30px;
      color: rgb(58, 58, 121);
      font-weight: bold;
    }

}