.productCard {
  max-width: 80.0rem;
  margin: 0 auto 10.0rem;
  
  .testCaseNameTitle{
    padding-bottom: 20px;
  }

  .expandCollapseContainer{
    padding: 10px;
  }

    h1{
      text-align: center;
      color: rgb(95, 95, 171);
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }


  .productDetails {
    ul, ul li {
      padding: 0;
      margin: 0;
    }

     ul li {
       list-style-type: none;
       margin: 0 auto 1rem;

       h1 {
         margin: 0;
       }
     }
  }
}